# Copyright (c) 2013-2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on fs
    # Add support audio_hal and sensor hal
    chmod 0666 /dev/audio_ultrasound
    chmod 0666 /dev/sensor_ultrasound

    mount ext4 /dev/block/bootdevice/by-name/op1 /op1 ro barrier=1 discard context=u:object_r:op1_file:s0
    mount ext4 /dev/block/bootdevice/by-name/op2 /op2 noatime nosuid nodev barrier=1
    chown system system /op2

    # Add for smartboost
    chown system system /sys/module/smartboost_core/parameters/page_cache_reside_switch

    # Add for fsc
    chown system system /sys/module/fsc/parameters/enable
    chmod 0664 /sys/module/fsc/parameters/enable

on post-fs
    mkdir /op2/recovery 0770 root system

    chown system system /proc/ship_mode

    chown system system /proc/qti_haptic
    chown system system /proc/qti_haptic_rf

    chown system system /dev/param

    chown system system /dev/block/mmcblk0p21
    chmod 0660 /dev/block/mmcblk0p21

    chown system system /sys/class/timed_output/vibrator/vmax
    chown system system /sys/class/timed_output/vibrator/wf_s0
    chown system system /sys/class/timed_output/vibrator/wf_s1
    chown system system /sys/class/timed_output/vibrator/wf_s2
    chown system system /sys/class/timed_output/vibrator/wf_s3
    chown system system /sys/class/timed_output/vibrator/wf_s4
    chown system system /sys/class/timed_output/vibrator/wf_s5
    chown system system /sys/class/timed_output/vibrator/wf_s6
    chown system system /sys/class/timed_output/vibrator/wf_s7
    chown system system /sys/class/timed_output/vibrator/wf_update
    chown system system /sys/class/timed_output/vibrator/wf_rep
    chown system system /sys/class/timed_output/vibrator/wf_s_rep

    chown system system /sys/devices/soc/c179000.i2c/i2c-5/5-0020/tp_grip_ctrl

    chown system log /sys/fs/pstore/console-ramoops-0
    chmod 0440 /sys/fs/pstore/console-ramoops-0

    chown system system /sys/module/param_read_write/parameters/normal_reboot_count
    chown system system /sys/module/param_read_write/parameters/abnormal_reboot_count
    chown system system /sys/module/param_read_write/parameters/update_count
    chown system system /sys/module/param_read_write/parameters/fastboot_count

    chown system system /sys/class/power_supply/battery/is_aging_test
    chown system system /sys/class/power_supply/bms/set_allow_read_extern_fg_iic
    chown system system /persist/sensors/registry/registry/tmd3725_platform.rgb.rfac_cal
    chmod 0660 /persist/sensors/registry/registry/tmd3725_platform.rgb.rfac_cal
    chown system system /persist/sensors/registry/registry/tmd3725_platform.als.afac_cal
    chmod 0660 /persist/sensors/registry/registry/tmd3725_platform.als.afac_cal
    chown system system /sys/class/leds/vibrator/vmax_mv
    chmod 0660 /sys/class/leds/vibrator/vmax_mv
    chmod 0660 /sys/class/leds/vibrator/rtp
    chmod 0660 /sys/class/leds/vibrator/haptic_audio_tp_time
    chmod 0644 /sys/class/leds/vibrator/haptic_osc_data
    chmod 0660 /sys/class/leds/vibrator/ram_test
    chmod 0644 /sys/class/leds/vibrator/ram_update
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/rf_hz
    chown system system /sys/class/leds/vibrator/lra_resistance
    chown system system /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/index
    chown system system /sys/class/leds/vibrator/activate_mode
    chown system system /sys/class/leds/vibrator/seq
    chown system audio /sys/class/leds/vibrator/rtp
    chown system audio /sys/class/leds/vibrator/haptic_audio_tp_time
    chown system system /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/ignore_store
    chown system system /sys/class/leds/vibrator/osc_cali
    chown system system /sys/class/leds/vibrator/haptic_osc_data
    chown system system /sys/class/leds/vibrator/ram_test
    chown system system /sys/class/leds/vibrator/ram_update
    restorecon /sys/class/leds/vibrator/activate
    restorecon /sys/class/leds/vibrator/brightness
    restorecon /sys/class/leds/vibrator/duration
    restorecon /sys/class/leds/vibrator/state

    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/change_speed
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/config
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/direction
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/driver_override
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/enable
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/hall_calibration
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/hall_data
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/hall_detect_switch
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/hall_irq_count
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/hall_reg
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/manual2auto_switch
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/modalias
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/mode
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/motor_test
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/move_state
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/position
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/speed
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/speed_change_switch
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/sw_switch
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/uevent
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/hall_up_max
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/force_move
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/noise_test
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/slow_down_speed
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/motor_slow_down_speed
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/step_count
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/stall
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/deltad_range
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/stall_steps
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/begin_stop_detect_percent
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/factory_mode
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/infrared_shut_down_state
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/free_fall_irq_times
    chown system system /sys/devices/platform/vendor/vendor\:motor_pl/hall_sensitive

    # for VTS front camera*/
    chmod 0666 /sys/devices/platform/vendor/vendor\:motor_pl/direction
    chmod 0666 /sys/devices/platform/vendor/vendor\:motor_pl/enable

    # add for infrared power control
    chmod 0666 /sys/devices/platform/vendor/vendor\:infrared_pl/infrared_power_enable
    chmod 0666 /sys/devices/platform/vendor/vendor\:infrared_pl/infrared_shut_down_state
    chmod 0666 /sys/devices/platform/vendor/vendor\:infrared_pl/infrared_shut_down_state2

    chown system system /sys/bus/platform/devices/soc/soc\:tri_state_key/hall_data_calib

    # Awinic haptic shock with music
    chown system audio /dev/aw8697_haptic
    chmod 0660 /dev/aw8697_haptic
    chown system audio /sys/class/leds/vibrator/haptic_audio
    chmod 0660 /sys/class/leds/vibrator/haptic_audio
    mkdir /data/awinic 0770 system audio

    # Create a empty file for wifi hal to write mac address
    write /mnt/vendor/persist/wlan_mac.bin ""
    chown wifi wifi /mnt/vendor/persist/wlan_mac.bin

    mkdir /mnt/vendor/persist/engineermode
    chown system system /mnt/vendor/persist/engineermode

    mkdir /mnt/vendor/persist/camera 0777 system system
    mkdir /mnt/vendor/persist/dual_camera_calibration 0777 system system
    chmod 0777 /mnt/vendor/persist/dual_camera_calibration/calibrationOutput_uw.bin
    chmod 0777 /mnt/vendor/persist/dual_camera_calibration/calibrationOutput_wt.bin

    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/msm/mpss/server_check.txt
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/msm/mpss
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/msm/adsp
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/msm/slpi
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/msm
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/apq/gnss
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/apq
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/mdm
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/mdm/adsp
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/mdm/mpss
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/mdm/slpi
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/mdm/tn
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/shared
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/shared/server_info.txt
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs

    chown system system /dev/stmvl53l1_ranging
    chmod 0666 /dev/stmvl53l1_ranging
    start vl53l1_daemon_main

    chmod 0666 /sys/module/qpnp_smb5/parameters/call_on
    chmod 0666 /sys/module/qpnp_smb5/parameters/disable_connector_protect
    chmod 0666 /sys/module/qpnp_smb5/parameters/usb_connector_temp
    chmod 0666 /sys/module/qpnp_smb5/parameters/usb_interval_temp
    chown system system /sys/module/qpnp_smb5/parameters/call_on
    chown system system /sys/module/qpnp_smb5/parameters/disable_connector_protect
    chown system system /sys/module/qpnp_smb5/parameters/usb_connector_temp
    chown system system /sys/module/qpnp_smb5/parameters/usb_interval_temp

on post-fs-data
    mkdir /data/vendor/tloc 0700 system drmrpc
    mkdir /data/vendor/nnhal 0700 system system

    # NFC
    mkdir /data/nfc
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/oemnvitems  0771 radio radio

    # Fingerint, changhua add for fp debug image usage,feature default off
    mkdir /data/fpc_images 0770 system system
    mkdir /data/fpc_images/verify 0770 system system
    mkdir /data/fpc_images/enroll 0770 system system
    mkdir /data/fpc 0770 system system
    mkdir /data/vendor_de/silead 0770 system system
    mkdir /mnt/vendor/persist/silead 0777 system system

    # Modem
    mkdir /data/mdm 0775 system system

    # Mediaextractor
    mkdir /mnt/vendor/persist/hdcp/media_dump 0770 mediaex mediadrm
    mkdir /mnt/vendor/persist/hdcp 0775 media mediadrm
    restorecon /mnt/vendor/persist/hdcp

    mkdir /data/vendor/misc/qsee/face/ 0770 system system

    chown system system /sys/module/houston/parameters/fps_boost
    chown system system /sys/module/houston/parameters/fps_data_sync
    chown system system /sys/module/houston/parameters/perf_ready
    chown system system /sys/module/houston/parameters/ais_enable
    chown system system /sys/module/houston/parameters/sample_rate_ms
    chown system system /sys/module/houston/parameters/ht_enable
    chown system system /sys/module/houston/parameters/fps_boost_enable
    chown system system /sys/module/houston/parameters/reset
    chown system system /dev/ht_ctl
    chown system system /dev/cc_ctl
    chown system system /proc/cc_ctl

on early-boot
    # SSR Setup
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys6/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys7/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys8/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys9/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys10/restart_level RELATED

on boot
    chmod 0666 /dev/qseecom

    chmod 0664 /sys/devices/platform/soc/soc:fpc_fpc1020/irq
    chown system system /sys/devices/platform/soc/soc:fpc_fpc1020/irq
    chmod 0660 /sys/devices/platform/soc/soc:fpc_fpc1020/report_home
    chown system system /sys/devices/platform/soc/soc:fpc_fpc1020/report_home
    chmod 0660 /sys/devices/platform/soc/soc:fpc_fpc1020/report_key
    chown system system /sys/devices/platform/soc/soc:fpc_fpc1020/report_key
    chmod 0660 /sys/devices/platform/soc/soc:fpc_fpc1020/update_info
    chown system system /sys/devices/platform/soc/soc:fpc_fpc1020/update_info
    chmod 0660 /sys/devices/platform/soc/soc:fpc_fpc1020/screen_state
    chown system system /sys/devices/platform/soc/soc:fpc_fpc1020/screen_state
    chmod 0660 /sys/devices/platform/soc/soc:fpc_fpc1020/hw_reset
    chown system system /sys/devices/platform/soc/soc:fpc_fpc1020/hw_reset
    chmod 0660 /sys/devices/platform/soc/soc:fpc_fpc1020/wakeup_enable
    chown system system /sys/devices/platform/soc/soc:fpc_fpc1020/wakeup_enable
    chmod 0660 /sys/devices/platform/soc/soc:fingerprint_detect/sensor_version
    chown system system /sys/devices/platform/soc/soc:fingerprint_detect/sensor_version
    chmod 0664 /sys/devices/platform/soc/a90000.i2c/i2c-4/4-0020/fp_irq
    chown system system /sys/devices/platform/soc/a90000.i2c/i2c-4/4-0020/fp_irq
    chmod 0664 /sys/devices/platform/soc/soc:goodix_fp/screen_state
    chown system system /sys/devices/platform/soc/soc:goodix_fp/screen_state
    chmod 0664 /sys/devices/platform/soc/soc:silead_fp/screen_state
    chown system system /sys/devices/platform/soc/soc:silead_fp/screen_state
    chmod 0666 /dev/goodix_fp
    chmod 0666 /dev/silead_fp
    chown system system /dev/silead_fp

    chmod 0666 /proc/touchpanel/touch_hold
    chown system system /proc/touchpanel/touch_hold

    write /sys/devices/platform/soc/c80000.i2c/i2c-5/5-0048/tp_fw_update 0
    write /sys/devices/platform/soc/c80000.i2c/i2c-5/5-0049/tp_fw_update 0
    write /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0020/tp_fw_update 0
    write /sys/devices/platform/soc/c80000.i2c/i2c-5/5-0020/tp_fw_update 0

    # Add HBM mode
    chown system system /sys/class/drm/card0-DSI-1/hbm_brightness
    chmod 0644 /sys/class/drm/card0-DSI-1/hbm_brightness

    # Add display modes
    chmod 0666 /sys/class/drm/card0-DSI-1/SRGB
    chmod 0666 /sys/class/drm/card0-DSI-1/DCI_P3
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/aod
    chmod 0666 /sys/class/drm/card0-DSI-1/night_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/panel_serial_number
    chmod 0666 /sys/class/drm/card0-DSI-1/oneplus_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/adaption_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_fppress
    chmod 0666 /sys/class/drm/card0-DSI-1/dim_alpha
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_dim
    chmod 0666 /sys/class/drm/card0-DSI-1/force_screenfp
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_p3_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_wide_color_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_loading_effect_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_customer_srgb_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_customer_p3_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/dsi_seed_command
    chmod 0666 /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chmod 0666 /sys/class/drm/card0-DSI-1/dither_en
    chmod 0666 /sys/class/drm/card0-DSI-1/dp_en
    chmod 0666 /sys/class/drm/card0-DSI-1/dimming_speed

    # Dynamic DSI clock
    chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock
    chown radio radio /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock

    # Add for dump audio related codec
    chmod 0644 /d/regmap/tavil-slim-pgd/registers
    chmod 0644 /d/regmap/0-0034/registers
    chmod 0644 /d/regmap/0-0035/registers
    chmod 0644 /d/regmap/0-0042/registers
    restorecon /sys/kernel/debug/regmap/0-0034/registers
    restorecon /sys/kernel/debug/regmap/0-0035/registers
    restorecon /sys/kernel/debug/regmap/0-0042/registers
    restorecon /sys/kernel/debug/regmap/tavil-slim-pgd/registers

    # NFC
    chmod 0666 /dev/nq-nci
    chown nfc nfc /dev/nq-nci
    chmod 0666 /dev/pn553
    chown nfc nfc /dev/pn553
    chmod 0666 /dev/p73
    chown secure_element secure_element /dev/p73

    # Dash/Warp charging
    chmod 0660 /dev/dash/
    restorecon  /dev/dash

    #felix 2019/05/16 add for qsee_log tz_log
    chmod 0666 /proc/tzdbg/qsee_log
    chmod 0666 /proc/tzdbg/tz_log

    #yankelong add
    chown system system /sys/class/leds/vibrator/haptic_audio_ai_input
    chown system system /sys/class/leds/vibrator/haptic_audio_tp_input
    chown system system /sys/class/leds/vibrator/haptic_audio_tp_size

    chown system system /proc/touchpanel/gesture_enable
    chmod 0666 /proc/touchpanel/nxd_detect
    chown nfc nfc /proc/touchpanel/nxd_detect
    chown system system /proc/touchpanel/gesture_switch
    chown system system /proc/touchpanel/key_switch
    chown system system /proc/touchpanel/key_disable
    chown system system /proc/touchpanel/tpedge_limit_enable
    chown system system /proc/touchpanel/tp_debug_log
    chmod 0644 /proc/touchpanel/tp_debug_log

    #shankai@bsp , 2017/12/29, Modify for rf_cable support
    chown system system /proc/rf_cable_config
    chown system system /proc/rf_factory_mode

    # ultrasound permissions
    chown system system /dev/elliptic0
    chmod 0644 /dev/elliptic0
    chown system system /dev/elliptic1
    chmod 0644 /dev/elliptic1

    # add for tp and ultrasound proximity,
    chmod 0666 dev/input/event4
    chmod 0666 dev/input/event7
    chmod 0666 dev/input/event9
    chmod 0666 dev/input/event11

on charger
    setprop ro.board.platform msmnile
    start qcom-post-boot
    write /sys/module/msm_thermal/core_control/cpus_offlined 254
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1248000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1267200
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0
    start vendor.dashd

# Add for mmi charging test
on property:sys.fastcharger=true
    write /sys/class/power_supply/battery/charging_enabled 1

on property:sys.fastcharger=false
    write /sys/class/power_supply/battery/charging_enabled 0

# Add OTG switch
on property:persist.sys.oem.otg_support=true
    write /sys/class/power_supply/usb/otg_switch 1

on property:persist.sys.oem.otg_support=false
    write /sys/class/power_supply/usb/otg_switch 0

on property:sys.boot_completed=1
    write /sys/module/smb_lib/parameters/sys_boot_complete 1
    restorecon /sys/elliptic/engine/calibration_v2

service vl53l1_daemon_main /vendor/bin/vl53l1_daemon_main
    class late_start
    user system
    group system
    socket vl53l1_daemon stream 660 system system

service vendor.dashd /vendor/bin/dashd
    class core
    user root
    group system
